* {
    padding: 0;
    margin: 0;

}

body{
    display: flex;
    background: blue;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.box{
    border: inset 5px ;
    display: flex;
    align-content: center;
    align-items: center;
    background: url("/img/ad.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    box-shadow: 40px 30px 10px black;
    opacity: .8;
    
    width: 40%;
    height: 60%;
}

button{
    align-content: center;
}